.container-founders {
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  width: 70%;
  margin: auto;
}
.container-founders-second {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.founder-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.founders-job {
  color: #757575;
}
.founders-description {
  color: #454545;
}
@media(max-width: 720px) {
  .container-founders-second {
    flex-direction: column;
  }
  .container-founders {
    width: 100%;
  }
  .founder-image {
    margin: auto;
  }
}
