.button-update {
  border: 2px solid rgb(0,166,153);
  background-color: #fff;
  color: rgb(0,166,153);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  box-shadow: none;
  font-weight:lighter;
  margin-bottom: 25px;
}
.image-update {
  width: 10%;
}
.form-update {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 20 auto 30px auto;
  width: 45%;
  margin: auto;
  background: #fff;
  animation-name: form-animation;
  animation-duration: 1s;
  box-shadow: 0 0 8px 8px #ddd;
}
@keyframes form-animation {
  0% {
    transform: translateY(-3000px);
    background-color: #029302;
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
.input-update {
  border-bottom: 4px solid #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  background: none;
  border-radius: 0px;
  padding: 10px;
  margin-left: 25px;
  font-size: 15px;
  transition: .3s;
}
.input-update:focus {
  outline: none;
  background-color: transparent;
  font-size: 20px;
}
.text-update {
  color: #000;
  margin-left: 25px;
}
.text-form-update {
  font-size: 22px;
  background-color: #757575;
  margin: 0 0 30px 0;
  padding: 18px;
  position: relative;
  display: block;
  color: #fff;
}
.button-update-props {
  background-color: rgb(255,90,95);
  margin-bottom: 20px;
  width: 70%;
}
.datepicker {
  width: 100%;
}
.container-datepicker {
  margin: auto;
  display: block;
  text-align: center;
}
.image-show-ok-update {
  width: 100%;
}
.cool-update {
  font-size: 55px;
  position: absolute;
  text-align: center;
  margin: auto;
  background: #454545;
  padding: 20px;
  color: #f2f2f2;
  opacity: .8;
}
.container-cool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-form, .overlay-delete, .overlay-consult {
  background: rgba(255,255,255,.8);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 1.1s ease-in;
  z-index: 999;
  padding: 20px;
}
.overlay-form.active, .overlay-delete.active, .overlay-consult.active {
  opacity: 1;
  visibility: visible;
}
.text-title-modal {
  font-size: 22px;
  color: #000;
}
.modal-delete {
  border-radius: 3px;
  background-color: #fff;
  padding: 35px;
  animation-name: form-animation;
  animation-duration: 1s;
  box-shadow: 0 0 8px 8px #ddd;
}
.cross-cancel {
  width: 4%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.cross-cancel:hover {
  cursor: pointer;
}
.delete {
  border: 1px solid #F44336;
  background: #fff;
  box-shadow: none;
  color: #F44336;
  padding: 5px 18px 5px 18px;
}
.no-delete {
  background-color: rgb(255,90,95);
}
.image-bay {
  width: 60%;
  margin: auto;
  display: block;
}
.super-modal-consult {
  background: #fff;
  height: 60vh;
  border-radius: 3px;
  padding: 20px;
  width: 48%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  animation-name: form-animation;
  animation-duration: 1s;
  box-shadow: 0 0 8px 8px #ddd;
}
.icon-consult {
  width: 12%;
}
.small-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.text-icon {
  font-size: 23px;
}
.container-buttons {
  border: 1px solid #ddd;
  width: 50%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
@media(max-width: 720px) {
  .form-update {
    width: 95%;
  }
  .image-show-ok-update {
    width: 100%;
  }
  .cool-update {
    font-size: 20px;
  }
  .super-modal-consult {
    width: 90%;
  }
  .cross-cancel {
    width: 6%;
  }
  .container-buttons {
    width: 100%;
  }
}
