strong {
  color: rgb(255,90,95);
  font-weight: 20px;
}
.p {
  font-size: 39px;
  color: #727272;
  font-family: 'Khula', sans-serif;
  font-weight: lighter;
  text-align: left;
}
.container-cover-page {
  width: 60%;
  margin: 80px 0 120px 100px;
}
@media(max-width: 720px) {
  .container-cover-page {
    width: 95%;
    margin: 60px auto 100px auto;
  }
  h2 {
    font-size: 28px;
  }
}
