.super-container-portada {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portada {
  border: 1px solid #ddd;
  width: 33%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animation:hover {
  background-color: rgb(255,90,95);
}
.portada:hover {
  color: rgb(255,90,95);
}
.container-portada {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image-map {
  width: 100%;
  animation-name: slide;
  animation-duration: .8s;
  transition: .3s;
}
.image-map:hover {
  opacity: .4;
}
@keyframes slide {
  0% {
    transform: translateY(-1200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.is-ok {
  width: 20%;
  margin: auto;
  animation-name: moveCommon;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 2s;
}
@keyframes moveCommon {
  0% {
    transform: translateX(-600px) rotateZ(360deg) scale(.8);
  }
  100% {
    transform: translateX(500px) rotateZ(-360deg) scale(1);
  }
}
.image-map.numero1 {
  animation-name: numero11;
  animation-duration: .6s;
  transition: .3s;
  animation-delay: .2s;
}
@keyframes numero11 {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.image-map.numero2 {
  animation-name: numero22;
  animation-duration: .6s;
  transition: .3s;
  animation-delay: .4s;
}
@keyframes numero22 {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media(max-width: 820px) {
  .portada {
    width: 50%;
  }
}
@media(max-width: 580px) {
  .portada {
    width: 100%;
  }
}
